:root{
    /*Color variables:*/
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
}

/*Fonts:*/
body {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
/*font-weight: 500;
font-style: normal;*/
}

.title{
    color:var(--black);
    font-weight: 700;
    font-size: larger;
    margin: 5px;
}

.subtitle{
    color:rgb(168, 168, 168);
    font-weight: 500;
    font-size: medium;
    margin: 5px;
}

.title-text{
    color:var(--dark);
    font-weight: 700;
    font-size: small;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
}

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#logo{
    width: 300px;
}

form > p{
    margin: 2px;
    width: 100%;
   
}

#confirm-button{
    margin-top:10px;
    background-color: var(--hospital-green);
    color: var(--white);
    border-style: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
}

input {
    width: 100%;
    padding: 5px; /* Espaciado interno para que los campos de texto sean más cómodos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    background-color: var(--text-input-field);
    border-style: none;
    border-radius: 10px;
}

@media(min-width: 400px){
#logo{display: 	none;
}}