
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


form > p{
    margin: 2px;
    width: 100%;
}

input {
    width: 100%;
    padding: 5px; /* Espaciado interno para que los campos de texto sean más cómodos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    background-color: var(--text-input-field);
    border-style: none;
    border-radius: 10px;
}

#save_buttom{
    display: flex ;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

@media(max-width: 640px){
    .container{
    height: 100%;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        height: 100%;
    }

    #save_primary_buttom{
        position: fixed;
        bottom:0; 
        margin-bottom:24px;
    }
}

